// container
@import '../../node_modules/zsh.js/dist/zsh.css'

list_header = #2A3140 // #32394A
list_background = #32394A
list_selected = #262C3A

dark_border = #242A37
light_border = #3E4555

bar-height = 22px
statusbar-height = 15px

body
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  width 100%
  height 100%
  min-height 430px
  margin 0
  padding 0
  background black
  font-family monaco, sans-serif
  font-size 12px
  background-color list_background
a
  color white
  text-decoration underline

#container {
  position absolute
  left 200px
  min-width calc(100% - 200px)
  min-height 100%
  border-radius 5px
  background black
  box-shadow -1px 0 5px 1px #222C
  color white

  &.lock {
    overflow hidden
    height 100%
  }
}


#fork {
  position absolute
  top bar-height
  right 0
  width 23%
  height auto
  max-width 149px
  max-height 149px
  border 0
}

#sidebar {
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  color white
  text-shadow 1px 1px 1px #333
  font 14px arial narrow
  letter-spacing 1px
  overflow-x hidden

  img {
    float left
    margin-right 8px
  }

  #header {
    width calc(100% - 15px)
    height 30px
    padding 15px
    background-color list_header
    border-bottom 1px solid dark_border

    span {
      line-height 30px
      float left
    }
  }

  ul {
    list-style none
    padding 0

    li {
      border-top 1px solid light_border
      border-bottom 1px solid dark_border
      padding 15px
      cursor pointer
    }
    
    li.active {
      background-color list_selected
    }
  }

  #social-buttons {
    position absolute
    bottom 0
    width 100%

    li {
      height 20px
      padding 7px
    }
  }
}

#contact {
  color white
  font 30px arial narrow
  ul {
    list-style none
  }
}

#talks {
  margin-left 15px
}

iframe#resume {
  float left
  min-width 200px
  max-width 800px
  width 90%
  margin 0 30px
  border none
}

